@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
    /* padding-top: 15px;  */
    /* padding-left: 15px; */
}


#logoimg {
    height: 50px;
    /* margin: 0 auto; */
}

.icons {
    height: 20px;
}

.sidebar {

    position: fixed;
    width: 300px;
    height: 100vh;
    background: #f8f8f8;
    z-index: 2;
}

.main-home {
    position: absolute;
    width: calc(100% - 300px);
    top: 10px;
    left: 300px;
    background: #fff;
    border-radius: 1rem 0 0 1rem;
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: #f8f8f8;
  padding-top: 15px;
  padding-left: 15px;
}
:root {
  --gradient: linear-gradient(to right, #e2336b, #fcac46);
}
.sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #f8f8f8;
  z-index: 2;
}
.main-home {
  position: absolute;
  width: calc(100% - 300px);
  top: 0;
  left: 300px;
  background: #fff;
  border-radius: 1rem 0 0 1rem;
  z-index: 1000;
} */
.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 15px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}



#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile .profile__header {
    max-width: 935px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    font-size: 110%;
}

.profile__header .profile__column {
    width: 70%;
}

.profile__column img {
    height: 100px;
}

.profile__header .profile__column:first-child {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__column:first-child img {
    border-radius: 50%;
    transform-style: preserve-3d;
    transition: transform 0.5s linear;
    animation: rotateLynn 1s linear 1;
}

@keyframes rotateLynn {
    from {
        transform: rotateY(0turn);
    }

    to {
        transform: rotateY(1turn);
    }
}

.profile__column .profile__title,
.profile__column .profile__stats {
    display: flex;
    align-items: center;
}

.profile__column .profile__title {
    margin-bottom: 30px;
}

.profile__title .profile__username {
    margin-right: 25px;
    font-size: 32px;
    font-weight: 300;
}

.profile__title a {
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    padding: 5px 25px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.profile__title a:hover {
    background-color: #3f99ed;
    color: white;
    border-color: #3f99ed;
}

.profile__title i {
    cursor: pointer;
    transition: transform 1s ease-in;
}

.profile__title i:hover {
    transform: rotate(2turn);
}

.profile__column .profile__stats {
    margin-bottom: 30px;
}

.profile__stats .profile__stat {
    margin-right: 40px;
}

.profile__stat .stat__number {
    font-weight: 600;
}

.profile__bio .profile__full-name {
    font-weight: 600;
}

.profile__bio a {
    color: var(--link-color);
    font-weight: 600;
    text-decoration: none;
    display: block;
}

.profile__column .profile__bio {
    line-height: 125%;
}

#profile .profile__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 936px;
    width: 100%;
}

.profile__photos .profile__photo {
    width: 31%;
    margin-bottom: 35px;
    position: relative;
}

.profile__photo img {
    max-width: 100%;
}



.profile__photo .profile__photo-overlay {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.profile__photo:hover .profile__photo-overlay {
    opacity: 1;
    cursor: pointer;
}

.profile__photo-overlay .overlay__item {
    font-size: 130%;
    display: flex;
    align-items: center;
}

.profile__photo-overlay .overlay__item:last-child {
    margin-left: 10px;
    /**/
}

.profile__photo-overlay .overlay__item i {
    font-size: 130%;
    margin-right: 5px;
}

.main {
    width: 100%;
    /* padding: 40px 0; */
    display: flex;
    /* justify-content: center; */
    /* margin-top: 50px; */
    /* margin-left: 200px; */
}

.wrapper {
    width: 100%;
    /* max-width: 2000px; */
    display: grid;
    /* grid-template-columns: repeat(1fr 100px); */
    grid-gap: 100px;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.status-wrapper {
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar {
    display: none;
}

.status-card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5)
}

.navs {
    padding: 50px 0;
}

.navs ul {
    display: flex;
}

.navs ul li {
    list-style: none;

}

.navs a {
    position: relative;
    display: block;
    transition: .5s;
}

.navs a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
}

.navs a:hover {
    color: #95a5a6;
}

.navs a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navs ul li img {
    height: 30px;
    /* border: 1px solid green; */
}

.navs a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 40px 10px 3px;
    margin-top: -5px;
}